.inner-box{
    .bookmark-btn{

        .loading-icon{
            display: none;
            width: 21px;
            height: 21px;
        }
        &.active{
            background-color: rgba(25, 103, 210, .1);
            color: #1967D2;
        }
        &.loading{
            .loading-icon{
                display: flex;
                margin: 0 auto;
            }
            span{
                display: none;
            }
        }
    }
}

.bc-map{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    .leaflet-marker-pane .leaflet-marker-icon{
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        border: 6px solid rgba(255,255,255,0.5);
        box-sizing: border-box;
    }
}

.main-header.header-style-two  .menu-btn .icon{
    color: #FFF;
}
.testimonial-block-two .thumb img{
    height: 100%;
    object-fit: cover;
}
.filters-outer input[type=checkbox], .filters-outer input[type=radio]{
    position: absolute;
}
.job-section .tab-buttons{
    overflow-x: auto;
}
.banner-section-four{
    z-index: 1;
}
.sec-title-outer .link .fa{
    margin-left: 5px;
}
.default-form .input-group > input[type="text"],
.default-form .input-group > input[type="number"]{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.banner-section-seven .job-search-form form{
    background-color: transparent;
}
.default-form .input-group .input-group-text{
    border: 0;
}
.default-form .input-group .input-group-append .form-control{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #e9ecef;
}
.manage-job-table .inner-box:hover{
    box-shadow: none;
}

.badge {
    font-size: 13px;
    text-transform: capitalize;
    min-width: 50px;
    display: inline-block;
    font-weight: 400;
}
.badge.badge-publish, .badge.badge-active {
    color: #fff;
    background-color: #28a745;
}
.badge.badge-approved {
    color: #fff;
    background-color: #28a745;
}
.badge.badge-pending {
    color: #212529;
    background-color: #ffc107;
}
.badge.badge-spam {
    color: #fff;
    background-color: #dc3545;
}
.badge.badge-trash {
    color: #fff;
    background-color: #6c757d;
}
.badge.badge-draft, .badge.badge-rejected {
    color: #fff;
    background-color: #6c757d;
}
.badge.badge-deactivate {
    color: #212529;
    background-color: #ffc107;
}

.bc-btn-delete{
    background: rgba(217, 48, 37, 0.15) !important;
    color: #d93025 !important;
    &:hover{
        color: #FFF !important;
        background-color: #d93025 !important;
    }
}

.item-url-demo{
    input{
        min-width: 250px;
        border: 1px solid #ccc;
        padding: 0 5px;
    }
}

.show_tags{
    margin-top: 5px;
    &:empty{
        margin-top: 0;
    }
    .tag_item{
        background: #1967D2;
        display: inline-block;
        padding: 6px 8px;
        font-size: 86%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        vertical-align: baseline;
        border-radius: 0.25em;
        margin-right: 5px;
        padding-right: 0px;
        margin-bottom: 6px;
        [data-role=remove]{
            margin-left: 8px;
            padding-left: 3px;
            cursor: pointer;
            padding-right: 6px;
            display: inline-block;
            border-left: 1px solid white;
            &:after{
                content: "x";
                padding: 0 2px;
            }
        }
    }
}

.theme-btn i{
    margin-right: 5px;
}

.language-navigation{
    margin-bottom: 20px;
    .nav-tabs .nav-link.active{
        background-color: transparent;
        border-bottom-color: #f5f7fc;
    }
}

.form-group-item{
    .lists_cvs{
        .item{
            &:first-child{
                border-top: 1px solid#c4cdd5;
            }
        }
    }
    .g-items{
        margin-bottom: 20px;
        .item{
            border: solid 1px #c4cdd5;
            border-top: 0px;
            padding: 0px 15px;
            .form-control{
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0px;
                }
            }
            >.row{
                >div{
                    padding: 10px;
                    border-right: 1px solid #c4cdd5;
                    &:last-child{
                        border-right: 0px;
                    }
                }
            }
            textarea.full-h{
                height: 100%;
            }
        }
    }
    .g-more{
        display: none;
    }
    label{
        display: block;
        min-height: 20px;
    }

    .g-items-header{
        font-weight: bold;
        border: solid 1px #c4cdd5;
        padding: 10px;
        text-align: center;
    }
    .g-lang{
        padding: 10px 5px 10px;
        border: solid 1px #ccc;
        position: relative;
        margin-top: 20px;
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
        .title-lang{
            font-size: 13px;
            position: absolute;
            top: -20px;
            background: #ccc;
            padding: 0px 20px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            left: -1px;
            line-height: 1.5;
        }
    }
}

.terms-scrollable{
    overflow-y: auto;
    background: #f4f6f8;
    padding:10px;
    border: 1px solid #e1e2e5;
    max-height: 250px;
    label{
        display: block;
        margin-bottom:10px;
        &:last-child{
            margin-bottom:0px;
        }
    }
}


.frontend-select-2{
    .form-control{
        min-width: 250px;
        height: 100%;
        max-height: 60px;
    }
}
.select2-dropdown{
    border: 1px solid #ecedf2;
    box-shadow: 0 6px 15px rgba(64, 79, 104, 0.05);
    background-color: #FFF;
}
.applied-modal{
    .modal-dialog{
        margin: 0;
    }
}
.bc-model{
    position: relative;
}
.applied-list{
    .applied-item{
        display: flex;
        margin-bottom: 15px;
        .label{
            width: 130px;
        }
        .val{
            width: calc(100% - 130px);
            padding-left: 15px;
            .candidate{
                display: flex;
                align-items: center;
            }
            .company-logo{
                width: 35px;
                height: 35px;
                border-radius: 50%;
                margin-right: 5px;
            }
        }
    }
}

.select2-container--default .select2-results__option{
    font-size: 15px;
}

.bc-select2{
    height: 60px !important;
}
.select2-container--default .select2-selection--single{
    border: 1px solid #ECEDF2;
    border-radius: 8px;
}
.select2-container .select2-selection--single .select2-selection__rendered{
    padding-left: 0;
}
.select2-container--default .select2-selection--single{
    height: 60px;
    padding: 15px 18px;
    padding-left: 54px;
}
.ls-section .filter-block .icon{
    z-index: 10;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b:before{
    opacity: 1;
    right: 16px;
    color: #2F2D51;
    content: "\f17c";
    font-family: "Flaticon";
    font-size: 10px;
}
.select2-container--default .select2-selection--single{
    font-size: 15px;
    color: #696969;
}
.select2-search--dropdown, .select2-results .select2-result-label{
    padding: 5px;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
    height: 35px;
    border-radius: 4px;
    background-color: #f3f5f7;
    border: 1px solid #d3d3d3;
}
.select2-container--default .select2-results__option{
    font-size: 14px;
    padding: 8px 15px;
    border-top: 0;
}

.banner-category{
    .select2-container--default .select2-selection--single{
        border: 0;
        @media(max-width: 992px){
            height: 70px;
            padding: 22px 18px;
            padding-left: 50px;
        }
    }
}
.company-search-form .form-group .icon, .job-search-form .form-group .icon{
    z-index: 10;
}

.company-search-form.style-v4{
    .select2-container--default .select2-selection--single{
        background-color: transparent;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered,
    .select2-container--default .select2-selection--single .select2-selection__arrow b:before{
        color: #FFF;
    }
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #696969;
}

.jquery-modal{
    z-index: 9999;
}

@media(max-width: 1600px){
    .dashboard .bc-user-dashboard  .candidate-block-three .inner-box{
        flex-direction: row;
    }
}

@media(max-width: 1366px){
    .job-search-form .form-group .theme-btn, .company-search-form .form-group .theme-btn{
        min-width: 130px;
    }
}
@media(max-width: 767px){
    .banner-section-eight .job-search-form{
        min-width: 0;
    }
    .category-banner{
        padding: 15px;
        height: auto !important;
    }
}
